.sidebar {
    width: 300px;
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
}

.sidebar .actions {
    flex: 1;
}

.sidebar .users-active {
    padding-top: 20px;
    flex: 2;
    overflow: scroll;
    max-height: 490px;
}

.user-info {
    padding: 10px;
}

.avatar {
    border-radius: 25px;
}

.oneline-user-info {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
}

.online-avatar {
    border-radius: 50%;
    width: 48px;
}

.username {
    font-weight: bold;
}

svg {
    border-radius: 10px;
}
